s */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import "//cdn.jsdelivr.net/npm/font-kopub@1.0";
@import "//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubbatang.min.css";
body { font-family: 'Open Sans', sans-serif; font-size:16px; font-weight: 300; color: #555; margin: 0; padding: 0;}

body {
}
/* id= page . lock the page at 1200 px  */

#container .shape {
  padding: 25px 0 0;
  font-size: 15px;
  font-weight: bold;

}


/* GLOBAL*/

a { color: black } /* Globally */



/* Each state */

a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:black; }
a:focus { text-decoration: none; color:black; }
a:hover, a:active { text-decoration: none; color:black }


/*TEXT*/
h1 { margin: 0 0 1em 0; font-size: 2.8em; font-weight: 700;}
h2 { margin: 1.0em 0 ; font-size: 1.6em; font-weight: 700; line-height: 1.1em; 
    text-align: center;
    font-family: 'KoPub Batang', serif;
    color: #777;
    font-size: 25.6px;}
h3 { margin: 0 0 0.5em 0; font-size: 1.1em; font-weight: 400;}

h3 strong {
	font-size: 1.2em;
    font-weight: 700;
}

h4 strong{
  "text-align: center; 
  white-space: pre-wrap;"

}

h5 { margin: 0.5em 0 0.5em 0; font-size: 1.1em; font-weight: 400; color: #333;}


h6 { margin: 1.0em 0 ; font-size: 1.6em; font-weight: 700; line-height: 1.1em; 
    text-align: center;
    font-family: 'KoPub Batang', serif;
    color: #777;
    font-size: 25.6px;}



/*header*/
section.top-image {

}





/*Section -Main */
section.main { margin-top: 20px; margin-bottom: 20px; background-color: #FFFFFF;}
section.main .content {text-align: center;
    font-family: 'KoPub Batang', serif;
    color: #777;
    font-size: 1em;
}



section.main .content p.화환 {font-size: 0.8em; color: #4372e8; padding-top: 20px;}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 50px;
}

.txt-01{
  line-height: 2.0;
}



/*.topimg-wrap {
    position: relative;
    width: 100%;
    padding: 70% 0;
    overflow-x: hidden;
    background-image: url(../images/icon.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 80%;
}

.topimg-wrap .topimg {
    width: 100%;
    position: absolute;
    background-color: #edebe5;
}

.topimg-wrap .topimg p { 
	margin: 0 0 1em 0; font-size: 1.2em; font-weight: 400 ;
	font-family: 'KoPub Batang', serif;
	text-align: center;}*/



/*section.main .content.background { 
	background: #fff url(../images/icon-square.png)no-repeat center top;
	background-size: 100%;height: 500px; max-width:500px;
	display: flex; margin-left: auto; margin-right: auto}
section.main .content p.blessing {
	font-size: 1.2em; line-height: 2.0em; margin: auto;
	}
*/

/*Section invite*/
/*section.word-invite{}*/

section.word-invite .topimg-wrap{padding: 30px 0px;}

section.word-invite img { 
	display: block; width: 100%; size: 70%}

section.word-invite p { 
	margin: 0 0 1em 0; font-weight: 400 ;
	font-family: 'KoPub Batang', serif;
	text-align: center;}*/



/*Section - RSVP */
section.rsvp .content {text-align: center;}

section.rsvp .content {text-align: center;
    font-family: 'KoPub Batang', serif;
    font-size: 1.2em;
}

a.btn {text-decoration: none; color: #999; border: 0.1px solid #111; padding:4px 15px; transition: background-color 0.5s;}
a.btn:hover { background-color: rgba(0,0,0,0.3);}

/*Section -galler*/

#row {
   line-height:0;
   -webkit-column-count:5; /* split it into 5 columns */
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:5;
   -moz-column-gap:5px;
   column-count:5;
   column-gap:5px;
}

#row img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:5px; /* to match column gap */
}

@media (max-width: 1200px) {
   #row {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
   }
}

@media (max-width: 800px) {
   #row {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
   }
}

@media (max-width: 450px) {
   #row {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
   }
}
@media (max-width: 200px) {
   #row {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
   }
}

/**MAP**/
#kakao-map {
width: 100%;
display: flex;
justify-content: center;
}






button {
background-color: #C1C1C1;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;

}

button:hover {
opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
padding: 14px 20px;
background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
float: left;
width: 50%;
}

/* Add padding to container elements */
.container {
padding: 16px;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: #474e5d;
padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
position: absolute;
right: 35px;
top: 15px;
font-size: 40px;
font-weight: bold;
color: #f1f1f1;
}

.close:hover,
.close:focus {
color: #f44336;
cursor: pointer;
}

/* Clear floats */
.clearfix::after {
content: "";
clear: both;
display: table;
}

.wrapper {
  text-align: center;
}



.h_iframe iframe {
  width:100%;
  height:100%;
}
.h_iframe {
  height: 100%;
  width:100%;
}




.footer-dark {
  padding:0 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark .copyright {
  text-align:center;
  opacity:0.3;
  font-size:13px;
  margin:50px ;
}
}


