s */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import "//cdn.jsdelivr.net/npm/font-kopub@1.0";
@import "//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubbatang.min.css";
body { font-family: 'Open Sans', sans-serif; font-size:16px; font-weight: 300; color: #555; margin: 0; padding: 0;}

/* id= page . lock the page at 1200 px  */

#container .shape {
  padding: 25px 0 0;
  font-size: 15px;
  font-weight: bold;

}


/* GLOBAL*/
/*TEXT*/
h1 { margin: 0 0 1em 0; font-size: 2.8em; font-weight: 700;}
h2 { margin: 1.0em 0 ; font-size: 1.6em; font-weight: 700; line-height: 1.1em; 
    text-align: center;
    font-family: 'KoPub Batang', serif;
    color: #777;
    font-size: 25.6px;}
h3 { margin: 0 0 0.5em 0; font-size: 1em; font-weight: 400;}

h3 strong {
	font-size: 1.2em;
    font-weight: 700;
}

h4 strong{
  "text-align: center; 
  white-space: pre-wrap;"

}



/*header*/
section.top-image {
    position: relative;
    width: 100%;
    padding: 70% 0;
    overflow-x: hidden;
    background-image: url(../images/A7M04494.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 80%;
}


/* Section - ALL */


/*Section -Main */
section.main { margin-top: 20px; margin-bottom: 20px; background-color: #FFFFFF;}
section.main .content {text-align: center;
    font-family: 'KoPub Batang', serif;
    color: #777;
    font-size: 1em;
}
section.main .content p.화환 {font-size: 0.8em; color: #4372e8; padding-top: 20px;}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 50px;
}

.txt-01{

  line-height: 2.0;

}





section.word-invite .topimg-wrap{padding: 30px 0px;}

section.word-invite img { 
	display: block; width: 100%; size: 70%}

section.word-invite p { 
	margin: 0 0 1em 0; font-size: 1.2em; font-weight: 400 ;
	font-family: 'KoPub Batang', serif;
	text-align: center;}*/



/*Section - RSVP */
section.rsvp .content {text-align: center;}

section.rsvp .content {text-align: center;
    font-family: 'KoPub Batang', serif;
    font-size: 1.2em;
}

a.btn {text-decoration: none; color: #999; border: 0.1px solid #111; padding:4px 15px; transition: background-color 0.5s;}
a.btn:hover { background-color: rgba(0,0,0,0.3);}

/*Section -galler*/

#row {
   line-height:0;
   -webkit-column-count:5; /* split it into 5 columns */
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:5;
   -moz-column-gap:5px;
   column-count:5;
   column-gap:5px;
}

#row img {
   width: 100% !important;
   height: auto !important;
   margin-bottom:5px; /* to match column gap */
}

@media (max-width: 1200px) {
   #row {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
   }
}

@media (max-width: 800px) {
   #row {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
   }
}

@media (max-width: 450px) {
   #row {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
   }
}
@media (max-width: 200px) {
   #row {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
   }
}

/**MAP**/
#kakao-map {
width: 100%;
display: flex;
justify-content: center;
}


}


